$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

// partials
@import "pages/dayof";
@import "pages/registry";
// @import "plugins/monocle";


.browsehappy {
    margin: 0.2em 0;
    background: #c99;
    color: #000;
    padding: 0.2em 0;
}

// Improve font rendering
* {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important
}

// Full height windows
html,
body,
.page-wrap,
.page,
.container {
    height: 100%;
}

// Navigation
.nav {
    margin-top: 10px;
}

// General
.page a {
    border-bottom: 1px dotted $link-color;

    &:hover {
        text-decoration: none;
        border-bottom: 1px solid $link-color;
    }
}


// Essentials screen, vertically centered
.center-content {
    height: 90%;
}

.essentials {
    @include center-vertically();

    text-align: center;

    overflow: hidden;

    padding-left: 15px;
    padding-right: 15px;

    h1 {
        // font-family: $font-family-titling;
        font-size: 18em;
        color: $gray-lighter;
        color: $brand-warning;
        font-weight: bold;

    }
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .essentials {
        border-bottom: 0;
    }
}
