$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

// partials
@import "pages/registry";
@import "pages/where";
@import "pages/activities";
@import "pages/dayof";
@import "pages/rsvp";
// @import "plugins/monocle";


.browsehappy {
    margin: 0.2em 0;
    background: #c99;
    color: #000;
    padding: 0.2em 0;
}

// Improve font rendering
* {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important
}

// Full height windows
html,
body,
.page-wrap,
.page,
.container {
    height: 100%;
}

// Typekit in case fonts don't load
.wf-inactive {
    font-family: $font-family-default;
}

// General
.page-wrap {
    overflow-x: hidden;
}

.page a {
    border-bottom: 1px dotted $link-color;

    &:hover {
        text-decoration: none;
        border-bottom: 1px solid $link-color;
    }
}

// Essentials screen, vertically centered
.center-content {
    height: 90%;
}

h1 {
    font-family: $font-family-titling;
    font-weight: 800;
    font-style: italic;
    font-size: 4em;
}

.essentials {
    @include center-vertically();

    text-align: center;
    display: block;

    h1 {
        font-family: $font-family-titling;
        font-size: 18em;
        color: $teal-green;
        font-weight: 800;
        font-style: italic;
        margin-bottom: -2%;
    }

    .lead {
        font-weight: normal;
    }
}

.mono {
    font-family: $font-family-monospace;
}

// Responsive
@import "responsive/responsive";
@import "responsive/menu";