// Registry styles
$registry-color: white;
// $registry-color: $teal;
$registry-border: 3px solid $registry-color;

#registry {
	// background: $pink;
	color: $registry-color;
	
	padding-top: 20px;

	position: relative;

	a {
		color: $registry-color;
		border-color: $registry-color;
	}
	
	.row {
		@include center-vertically();
		height: 40%;
		min-height: 300px;
		border: $registry-border;
		border-radius: $border-radius-base*3;
		text-align: center;

		width: 100%;
		margin: 0 auto;

		// background: white;
	}

	.col-sm-12 {
		border-bottom: $registry-border;
		padding-bottom: 20px;
		display: table-cell;
		height: 20%;
		padding-top: 20px;
	}

	.left-side {
		display: table-cell;
		height: 80%;
		border-right: $registry-border;

		div {
			@include center-vertically();

			margin-top: -20px;
		}

		a {
			font-family: $font-family-titling;
			font-style: italic;
			padding-top: 0;
			font-size: 4em;
			line-height: 1em;
			text-decoration: none;
			border-bottom: 2px dotted $registry-color;

			&:hover,
			&:focus {
				border-bottom: 2px solid $registry-color;
				font-weight: bold;
			}
		}
	}

	.right-side {
		display: table;
		height: 100%;
		margin: 0;
		padding: 0;

		div {
			padding-left: 15px;
			padding-right: 15px;
			padding-top: 10px;
		}

		div:first-child {
			height: 60%;
			border-bottom: $registry-border;
		}

		address {
			@include center-vertically();

			// line-height: 1.8em;

			.mono {
				font-weight: bold;
				font-family: $font-family-sans-serif;
				font-size: 21px;
			}
		}
	}
}