/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .essentials {
        border-bottom: 0;
    }
}

/* Responsive: Tablets */

@media (max-width: 767px) {
	
	h1 {
		font-size: 2.2em;
	}
	.row {
		@include de-center-vertically();
		height: auto;
	}
	.essentials {
		h1 {
			width: 100%;
			padding-left: 5%;
		}
	}

	#registry {
		margin: 25px 0 50px;
		height: 120%;
		min-height: 100%;

		.row {
			height: auto;
		}

		div div {
			height: auto;
		}
		
		a {
			font-size: 1em;
		}

		.left-side,
		.right-side {
			display: table-cell;
			height: auto;
			border-right: none;

			div,
			div:first-child address {
				top: 0;
				transform: none;
				height: auto;
				margin: 0;
				margin-top: 10px;
				margin-bottom: 10px;
			}
		}
	}

	#day-of {
		li {
			@extend .col-xs-6;
		}
		li:nth-child(2n+1) {
			clear: both;
		}
		h3 {
			border: none;
			padding-bottom: 0;
		}
		// p {
		// 	display: table-cell;
		// 	width: 70%;
		// 	padding-left: 20px;
		// }
	}
}

/* Responsive: iPhone 6 */

@media (max-width: 375px) {
	.essentials {
		h1 {
			// width: 130%;
			text-align: center;
			padding-left: 14%;
		}
		p.lead {
			width: 80%;
			margin: 0 auto 1.5em;
		}
	}
	#registry {
		.left-side div {
			padding-top: 1em;
		}

		address {
			padding-bottom: 1em;
			padding-top: 1em;
		}

		.left-side a {
			font-size: 3.5em;
		}
	}
}

/* Responsive: iPhone 5,4,3 */

@media (max-width: 320px) {
	.essentials {
		h1 {
			
		}
	}
}